extends layout

block content
	if eventAdded=='local'
		h2 Your local event, (#{eventName}), has been successfully added. It is now awaiting admin approval
	if eventAdded=='event'
		h2 Your big event, (#{eventName}), has been successfully added. It is now awaiting admin approval
	if eventAdded=='social'
		h2 Your social link, (#{eventName}), has been successfully added. It is now awaiting admin approval
	h1 Add Event or Social Link
	hr
	div(class='row addRows')
		div(class='col-md-4')
			h2 Add Local
			form(name='localForm' action='/add' method='post')
				input(type='hidden' name='type' value='local')
				div(class='form-group')
					label Event Name
					input(type='text' name='eventName' class='form-control' required)
				div(class='form-group')
					label Frequency
					select(name='frequency' class='form-control' required)
						option(value='weekly') Weekly
						option(value='biweekly') Biweekly
				div(class='form-group')
					label Start Date
					input(type='date' name='startDate' class='form-control' required)
				div(class='form-group')
					label Event Description
					br
					textarea(name='description' class='form-control' required)
				div(class='form-group')
					input(type='submit' class='btn btn-primary' value='Add Local')
			hr
		div(class='col-md-4')
			h2 Add Event
			form(name='localForm' action='/add' method='post')
				input(type='hidden' name='type' value='event')
				div(class='form-group')
					label Event Name
					input(type='text' name='eventName' class='form-control' required)
				div(class='form-group')
					label Start Date
					input(type='date' name='startDate' class='form-control' required)
				div(class='form-group')
					label Page Link (FB, etc)
					input(type='text' name='page' class='form-control' required)
					small(class='form-text text-muted') Please use the full URL
				div(class='form-group')
					label Event Description
					br
					textarea(name='description' class='form-control' required)
				div(class='form-group')
					input(type='submit' class='btn btn-primary' value='Add Event')
			hr
		div(class='col-md-4')
			h2 Add Social Link
			form(name='localForm' action='/add' method='post')
				input(type='hidden' name='type' value='social')
				div(class='form-group')
					label Page Name
					input(type='text' name='pageName' class='form-control' required)
				div(class='form-group')
					label Page Link (FB, etc)
					input(type='text' name='page' class='form-control' required)
					small(class='form-text text-muted') Please use the full URL
				div(class='form-group')
					label Link Type
					select(name='frequency' class='form-control' required)
						option(value='Facebook') Facebook
						option(value='Twitter') Twitter
						option(value='Instagram') Instagram
						option(value='Twitch') Twitch
						option(value='Mixer') Mixer
						option(value='YouTube') YouTube
						option(value='Discord') Discord
				div(class='form-group')
					input(type='submit' class='btn btn-primary' value='Add Social Link')
			hr