doctype html
html
	head
		title NJ SSBM
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
		script(src="/js/index.js")
	body
		div(class="container-fluid")
			block content
