body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

label{
	padding-right : 0px;
	padding-left: 20px
}

input, textarea, select {
	margin-left : 15px;
}